input[type="number"] {
    width: 50px;
    height: 20px;
    margin: 10px;
    /* Adiciona margem para espaçamento */
}

.container-tabela-e-botao {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}


h2 {
    font-size: 22px;
    margin: 0;
    color: #379091;
}

.botoes-container {
    display: flex;
    justify-content: flex-end;
    /* Alinha à direita */
    gap: 10px;
    /* Espaço entre os botões */
    margin-top: 20px;
    margin-right: 10%;
}

#sair {
    text-decoration: none;
    background-color: #379091;
    padding: 8px 12px;
    color: #FAF5F5;
}

#freq {
    border: none;
    cursor: pointer;
    background-color: #379091;
    padding: 8px 12px;
    color: #FAF5F5;
}

#freq:hover {
    background-color: #142324;
}

#sair:hover {
    background-color: #142324;

}

tr:nth-child(even) {
    background-color: #ffe6ac;
}

tr:nth-child(odd) {
    background-color: #FAF5F5;
}

table,
th,
td {
    border: 1px solid #379091;
    border-collapse: collapse;
    padding: 5px;
}

table {
    padding-bottom: 50px;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    /* largura total da tabela */
    border-collapse: collapse;
    /* remove espaçamento entre células */
}

@media only screen and (max-width: 700px) {
    table {
        margin-bottom: 10px;
        width: 70%;
    }

    .botoes-container {
        margin-bottom: 20%;
    }
}

#tituloBusca {
    flex-wrap: wrap;
    /* Para permitir quebrar linha */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* Diminui um pouco o espaço */
    margin-top: 20px;
}

#conteudo {
    padding: 20px;
    padding-left: 20px;
    float: center;
}

#inicio {
    width: auto;
    background-color: rgb(55, 144, 145, 0.9);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}