
#card1:hover,
#card2:hover,
#card3:hover,
#card4:hover {
    background-color: #f9dd9b;
    color: #5F9EA0;
    font-weight: bold;
    border: solid 2px #f9dd9b;
    /*muda a cor do card quando passa o mouse*/

}

#cardcursos {
    width: 80%;
    font-weight: bold;
    margin: 0 auto;
    padding-bottom: 5%;
    display: flex;
    flex-direction: line;
    align-items: center;
    /* Faz os cards ficarem centralizados na horizontal */
    gap: 10px;
    /* Espaço entre os cards */

}

#card1,
#card2,
#card3,
#card4 {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 300px;
    height: 100px;
    background-color: #FAF5F5;
    border: solid 2px;
    color: #379091;
    text-decoration: none;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    text-align: center;
}


/*busca*/

#tituloBusca {
    flex-wrap: wrap;
    /* Para permitir quebrar linha */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* Diminui um pouco o espaço */
    margin-top: 20px;
}

#divBusca:has(input:focus) {
    border: 2px solid #FFB347;
    box-shadow: 0 0 5px #FFB347;
    /* Opcional: só pra dar um glow bonito */
}

#divBusca {
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: #E0EEEE;
    border: solid 2px #5F9EA0;
    width: 260px;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 5px;
}

#txtBusca {
    background-color: transparent;
    padding-left: 5px;
    font-size: 16px;
    border: none;
    height: 30px;
}

#divBusca input {
    width: 200px;
}

#btnBusca {
    border: none;
    border-radius: 0 5px 5px 0;
    width: 70px;
    font-weight: bold;
    background-color: rgb(55, 144, 145, 0.9);
    cursor: pointer;
    color: white;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
}

#btnBusca:hover {
    background: #346566;

}

/* fim busca*/


#conteudo {
    padding: 20px;
    padding-left: 20px;
    float: center;
}

#inicio {
    width: auto;
    background-color: rgb(55, 144, 145, 0.9);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
