body{
    background-image: url(../imagens/fundo_grande.png);
    letter-spacing: 1px;
}
.container {
  background-color: white;
  padding: 50px 50px;
  max-width: 550px;
  width: 90%;
  margin: 80px auto; /* centraliza horizontalmente */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #379091;
}
h1 {
  
  font-size: 28px;
  margin-bottom: 10px;
}

.descricao {
  color: #444;
  font-size: 16px;
  margin-bottom: 30px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, select, textarea {
  padding: 20px 15px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
  transition: 0.3s;
}

input:focus, select:focus, textarea:focus {
  border-color: #379091;
  outline: none;
  box-shadow: 0 0 5px rgba(55, 144, 145, 0.3);
}

button {
  background-color: #faf5f4;
  color: #379091;
  border: solid 1px;
  border-color: #379091;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 8%;
  transition: 0.7s;
}

button:hover {
  background-color: #379091;
color: #faf5f4;
transform: translateY(-10px);
}
form textarea{
    height: 100px;
}